<div class="player-table-container mat-elevation-z8">
    <table
        #table
        mat-table 
        [dataSource]="playerDataSource"
        matSort 
        matSortActive="turn" 
        matSortDisableClear 
        matSortDirection="desc"
        class="mat-elevation-z8">

        <ng-container matColumnDef="roll">
            <th mat-header-cell *matHeaderCellDef  > roll </th>
            <td mat-cell *matCellDef="let element"> {{ element.roll | englishOrdinal }} </td>
        </ng-container>

        <ng-container matColumnDef="dice">
            <th mat-header-cell *matHeaderCellDef > chosen dice </th>
            <td mat-cell *matCellDef="let element" class="dice"> 
                <!-- {{ showSelectedDice( element.diceSelection ) }}  -->
                {{ element.farkled ? "Farkled!" : showSelectedDice( element.diceSelection ) }}

            </td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> roll score </th>
            <td mat-cell *matCellDef="let element" class="right-align-data"> 
                {{ element.score | number }} 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [ngClass]="currentRollRow( row ) ? 'current-turn-row': 'not-current-turn-row' ">
            
        </tr>
    </table>
</div>