<div *ngIf="activePlayer == null">
    <p >Play has not begun</p>
</div>
<div *ngIf="activePlayer != null">
    <h2>player stats</h2>
    <p >
        player: {{ activePlayer.name }}<br/>
        <br/>
        score from last trun: {{ activePlayerStats.lastTurnScore | number: "1.0-0" }}<br/>
        <br/>
        number of truns: {{ activePlayerStats.numberOfTurns | number: "1.0-0" }}<br/>
        average roll per turn: {{ activePlayerStats.averageRolls | number: "1.2-2" }}<br/>
        <br/>
        number of rolls: {{ activePlayerStats.numberOfRolls | number: "1.0-0" }}<br/>
        average score per roll: {{ activePlayerStats.averageScorePerRoll | number: "1.2-2" }}<br/>
        <br/>
        number of farkles: {{ activePlayerStats.numberOfFarkels | number: "1.0-0" }}<br/>
    </p>
</div>
