
<mat-grid-list cols="3" rowHeight="60px" class="player-stats-main">
    <mat-grid-tile colspan="3" rowHeigh="25px">
        <div class="player-stats-title">player stats</div>
    </mat-grid-tile>

<!-- Row 1 -->

    <mat-grid-tile >
        <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>highest scoring turn </mat-label>
            <input matInput 
                disabled 
                type="text" 
                class="player-stats-data" 
                 value='{{ _.isNull( activePlayer) ? "": activePlayerStats.highestScoringTurn | number: "1.0-0" }}'>
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>most rolls in a turn </mat-label>
            <input matInput 
                disabled 
                type="text" 
                class="player-stats-data"  
                value='{{ _.isNull( activePlayer) ? "": activePlayerStats.mostRollsInATurn | number: "1.0-0" }}'>
          </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>average rolls per turn </mat-label>
            <input matInput 
                disabled 
                type="text" 
                class="player-stats-data"  
                value='{{ _.isNull( activePlayer) ? "": activePlayerStats.averageRollsPerTurn | number: "1.2-2" }}'>
          </mat-form-field>
    </mat-grid-tile>

<!-- Row 2  -->


    <mat-grid-tile >
        <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>highest scoring roll </mat-label>
            <input matInput 
                disabled 
                type="text" 
                class="player-stats-data"  
                value='{{ _.isNull( activePlayer) ? "": activePlayerStats.highestScoringRoll | number: "1.0-0" }}'>
            </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile >
        <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>scoring rolls </mat-label>
            <input matInput 
                disabled 
                type="text" 
                class="player-stats-data"  
                value='{{ _.isNull( activePlayer) ? "": activePlayerStats.numberOfRolls | number: "1.0-0"  }}'>
            </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile >
        <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>average score per scoring roll </mat-label>
            <input matInput 
                disabled 
                type="text" 
                class="player-stats-data"  
                value='{{ _.isNull( activePlayer) ? "": activePlayerStats.averageScorePerRoll | number: "1.2-2" }}'>
          </mat-form-field>
    </mat-grid-tile>
    
<!-- Row 3 -->

    <mat-grid-tile></mat-grid-tile> 

    <mat-grid-tile >
        <mat-form-field class="example-full-width" floatLabel="always">
            <mat-label>Farkles! </mat-label>
            <input matInput 
                disabled 
                type="text" 
                class="player-stats-data"  
                value='{{ _.isNull( activePlayer) ? "": activePlayerStats.numberOfFarkels | number: "1.0-0" }}'>
          </mat-form-field>
    </mat-grid-tile>


</mat-grid-list>
