<div *ngIf="activePlayer == null">
    <p >Play has not begun</p>
</div>
<div *ngIf="activePlayer != null">
    <h2>Player Statistics</h2>
    <p >
        Player: {{ activePlayer.name }}<br/>
        <br/>
        Number of Turns: {{ activePlayerStats.numberOfTurns | number: "1.0-0" }}<br/>
        Average Rolls per Turn: {{ activePlayerStats.averageRolls | number: "1.2-2" }}<br/>
        <br/>
        Number of rolls: {{ activePlayerStats.numberOfRolls | number: "1.0-0" }}<br/>
        Average Score per roll: {{ activePlayerStats.averageScorePerRoll | number: "1.2-2" }}<br/>
        <br/>
        Score on Last turn: {{ activePlayerStats.lastTurnScore | number: "1.0-0" }}<br/>
        <br/>
        Number of Farkles: {{ activePlayerStats.numberOfFarkels | number: "1.0-0" }}<br/>
    </p>
</div>
