@import "src/variables";

.player-table-container{
    overflow: auto;
    width: 100%;
    max-height:99%;
}

table {
    width: 100%;
}

.row-name {
    font-weight: bold;
}

//    [ 'order', 'place', 'player', 'score'];
.mat-column-turn{
  width: 25% !important;
}
.mat-column-score{
    width: 50% !important;
}
.mat-column-rolls{
    width: 25% !important;
}

.active-player {
  background-color: $primary-background-color;
}
.inactive-player{
  background-color: $primary-background;
}

.right-align-data {
  padding-right: 25px;
  text-align: right;
}
.right-align-header {
  text-align: center;
}
.data-farkle {
  color: $warn;
}

.current-turn-row {
  background-color: $primary-background-color;
}