<mat-grid-list cols="8" rowHeight="50px">

    <mat-grid-tile colspan="4" rowspan="1" class="title-tile">
        <app-title [workingTitle]="title"></app-title>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1"  class="help-info-buttons-tile">
        <div class="help-info-buttons">
            <app-help-info-buttons></app-help-info-buttons>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3" class="action-buttons-tile">
        <span *ngIf="!gameStart">
            <app-start-setup-buttons></app-start-setup-buttons>
        </span>
        <span *ngIf="gameStart">
            <app-roll-action-buttons></app-roll-action-buttons>
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="6" class="players-scoreboard-tile">
        <app-player-scoreboard></app-player-scoreboard>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="9" class="roll-scoreboard-tile">
        <app-roll-scoreboard></app-roll-scoreboard>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="6" class="player-stats-tile">
        <app-player-statistics></app-player-statistics>
    </mat-grid-tile>
  </mat-grid-list>