@import "src/variables";

.title-tile {
    background-color: $primary-background;
}

::ng-deep .help-info-buttons-tile {
    background-color: $primary-background;
}
.help-info-buttons{
    width: 95%;
    height: 95%;
}
.action-buttons-tile{
    background-color: $accent;
}

.players-scoreboard-tile{
    background-color: $primary-background;
}
.player-scoreboard {
    width: 95%;
    height: 95%;
}
.roll-scoreboard-tile{
    background-color: $warn;
}
.player-stats-tile{
    background-color: $primary;
}
