<div class="rules-config-dialog-card">
    
    <mat-card class="rules-config-card">
        <mat-card-header class="rules-config-header">
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="rules-config-content" >
            <br/>
            <dl>
                <dt class="sub-header">Object:</dt>
                    <dd>The player with the highest score above <span class="configurable">{{config.winScore}}</span> points on the final round of play wins!</dd>
                    <br/>
                <dt class="sub-header">Setup:</dt>
                    <dd>Start by adding Players using the `add Player` button.</dd>
                    <dd>Use the configuration dialog to set different variations of the game and scoring values.</dd>
                    <dd>Once all the Players are set, and game values are agreed on start the game with the `begin game` button</dd>
                    <br/>
                <dt class="sub-header">Game Play:</dt>
                    <dd>Farkle Scoreboard will promt each player in order.  Player rolls 6 dice and chooses which to keep.</dd> 
                    <dd>Select on the Scoreboard which dice are select to keep the points.</dd>

                <br/>
                <dt class="sub-header">Score:</dt>
                    <dd>Only 1's and 5's are by themselves worth points.</dd>
                    <dd>
                        <ul>
                            <li>1's = 100 points</li>
                            <li>5's = 50 points</li>
                        </ul>
                    </dd>

                    <dd>rolling multiples of 3 or more of a die in a single roll are worth 100 * die value except 1's.</dd>
                    <dd>note: rolling 1's or 5's on three different rolls does not count as a triple. Farkel Scorecard will tally points correctly.</dd>
                    <dd >
                        <br/>
                        <table style="width:75%; margin-left: auto; margin-right: auto;">
                            <tr style="background-color: lightgray;">
                                <th class="die-align">die</th>
                                <th class="number-align">triples (3)</th>
                                <th class="number-align">quadruples (4)</th>
                                <th class="number-align">sextuple (5)</th>
                                <th class="number-align">septuple (6)</th>
                            </tr>
                            <tr>
                                <td class="die-align">1</td>
                                <td class="number-align">{{scoring( 1000, 3 )}}</td>
                                <td class="number-align">{{scoring( 1000, 4 )}}</td>
                                <td class="number-align">{{scoring( 1000, 5 )}}</td>
                                <td class="number-align">{{scoring( 1000, 6 )}}</td>
                            </tr>
                            <tr style='background-color: lightsteelblue'>
                                <td class="die-align">2</td>
                                <td class="number-align">{{scoring( 200, 3 )}}</td>
                                <td class="number-align">{{scoring( 200, 4 )}}</td>
                                <td class="number-align">{{scoring( 200, 5 )}}</td>
                                <td class="number-align">{{scoring( 200, 6 )}}</td>
                            </tr>
                            <tr>
                                <td class="die-align">3</td>
                                <td class="number-align">{{scoring( 300, 3 )}}</td>
                                <td class="number-align">{{scoring( 300, 4 )}}</td>
                                <td class="number-align">{{scoring( 300, 5 )}}</td>
                                <td class="number-align">{{scoring( 300, 6 )}}</td>
                            </tr>
                            <tr  style='background-color: lightsteelblue'>
                                <td class="die-align">4</td>
                                <td class="number-align">{{scoring( 400, 3 )}}</td>
                                <td class="number-align">{{scoring( 400, 4 )}}</td>
                                <td class="number-align">{{scoring( 400, 5 )}}</td>
                                <td class="number-align">{{scoring( 400, 6 )}}</td>
                            </tr>
                            <tr>
                                <td class="die-align">5</td>
                                <td class="number-align">{{scoring( 500, 3 )}}</td>
                                <td class="number-align">{{scoring( 500, 4 )}}</td>
                                <td class="number-align">{{scoring( 500, 5 )}}</td>
                                <td class="number-align">{{scoring( 500, 6 )}}</td>
                            </tr>
                            <tr style='background-color: lightsteelblue'>
                                <td class="die-align">6</td>
                                <td class="number-align">{{scoring( 600, 3 )}}</td>
                                <td class="number-align">{{scoring( 600, 4 )}}</td>
                                <td class="number-align">{{scoring( 600, 5 )}}</td>
                                <td class="number-align">{{scoring( 600, 6 )}}</td>
                            </tr>
                            
                        </table>
                    </dd>
                    <dd><span *ngIf="config.doublingScoresOnTripples"> <span class="configurable"> 'Doubling' scoring on multiples</span>  is selected in configuration and points above are adjusted accordingly.</span> </dd>
                    <br/>
                    <dd class="sub-header">triple-doubles:</dd>
                    <dd>rolling any combination of 3 sets of doubles on a single roll is worth <span class="configurable">{{config.trippleDoublePoints}}</span> points</dd>
                    <dd>example: 2-2-3-3-6-6</dd>
                    <dd>all 6 die are then used and the player can roll again, adding to his score if a valid roll.</dd>
                    <br/>
                    <dd class="sub-header">double-triples:</dd>
                    <dd>rolling any combination of 2 sets of triples on a single roll is worth the "triples (3)" points from table above added</dd>
                    <dd>example: 2-2-2-6-6-6 would be 200 + 600 = 800 points</dd>
                    <dd>example: 1-1-1-4-4-4 would be 1000 + 400 = 1400 points</dd>
                    <dd>all 6 die are then used and the player can roll again, adding to his score if a valid roll.</dd>
                    <br/>
                    <dd class="sub-header">straight:</dd>
                    <dd>rolling 1-2-3-4-5-6 on a single roll is worth <span class="configurable">{{config.straightPoints}}</span> points</dd>
                    <dd>all 6 die are then used and the player can roll again, adding to his score if a valid roll.</dd>
                    <br/>
                    <dd class="sub-header sub-header-farkle">Farkle:</dd>
                    <dd>if a player does not roll 1's, 5's or multiples described above on any roll during their turn the 
                        result is called <span class="sub-header-farkle">Farkle!</span></dd>
                    <dd>Player looses all points accumulated on this turn only. Play passes to the next player.</dd>
                    <br/>
                    <span *ngIf="config.maxFarklesApplies">
                        <dd>If player rolls a Farkle <span class="configurable">{{config.maxFarkleCount}}</span> times in consecutive turns, 
                            <span class="configurable">{{config.maxFarklePenality}}</span> point will be deducted from the payer's score.</dd>
                        <dd><span  class="configurable">'maximum Farkles with penality'</span> is selected in configuration</dd>
                    </span>
            </dl>
        </mat-card-content>
        <mat-card-actions class="rules-config-actions" align=end>
            <button mat-button color="primary" matDialogClose>close</button>
        </mat-card-actions>
        <mat-card-footer class="note-container" >
            <p><span class="note">note: text marked with <span class="configurable">this highlight</span> 
                are configurable and can be modified in the game's configuration.<mat-icon class="note-icon">settings</mat-icon> </span>
            </p>
        </mat-card-footer>
    </mat-card>
</div>