<div class="rules-config-dialog-card">
    <mat-card class="rules-config-card">
        <mat-card-header class="rules-config-header">
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="rules-config-content">

        </mat-card-content>
        <mat-card-actions class="rules-config-actions" align="end">
            <button mat-stroked-button color="primary" matDialogClose>close</button>
        </mat-card-actions>
    </mat-card>
</div>