<div class="player-table-container mat-elevation-z8">
    <table
        #table
        mat-table 
        [dataSource]="playerDataSource"
        matSort 
        matSortActive="turn" 
        matSortDisableClear 
        matSortDirection="desc"
        class="mat-elevation-z8">

        <ng-container matColumnDef="turn">
            <th mat-header-cell *matHeaderCellDef  > turn </th>
            <td mat-cell *matCellDef="let element"> {{ element.turn | englishOrdinal }} </td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef class="right-align-header"> score </th>
            <td mat-cell *matCellDef="let element" class="right-align-data" 
                [ngClass]=" element.farkled ? 'data-farkle' : 'data-number'"> 
                {{ element.farkled ? ( "Farkled!" ): (element.score | number ) }}
            </td> 
        </ng-container>

        <ng-container matColumnDef="rolls">
            <th mat-header-cell *matHeaderCellDef> rolls </th>
            <td mat-cell *matCellDef="let element"> {{ element.roll.length | number }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="selectedTurnRow( row)" [ngClass]="row.active ? 'current-turn-row': 'not-current-turn-row' ">
            
        </tr>
    </table>
</div>