@import "../../../variables";

.roll-action-button-container{
    text-align: center;
}
.actions-buttons{
    width: 100%;
    margin-bottom: 5px;
}
.all-buttons{
    margin-left: 5px;
    margin-right: 5px;
}
.roll-button{
    color: $primary;
    position: absolute;
    right: 10px;
}

.farkel-button{
    color: $warn;
    position: absolute;
}

.finished-button{
    color: $accent;
    position: absolute;
    width: 100%;
}

.dice-buttons{
    color: $secondary-buttons-color;

    margin-left: 5px;
    margin-right: 5px;

    text-align: center;
}

.dice-button {
    margin: 5px;
    height: 30px;
    width: 30px;
    padding: 0;
    background: border-box;

}

.dice-count-button {
    margin: 5px;
}
::ng-deep .mat-flat-button.mat-button-disabled.mat-button-disabled {
    fill: grey;
}
.dice-reset-button {
    margin: 5px;
    color: $primary
}