@import "../../../variables";

.roll-action-button-container{
    text-align: center;
}
.actions-buttons{
    width: 100%;
}
.all-buttons{
    margin-left: 10px;
}
.roll-button{
    color: $primary;
    position: absolute;
    right: 10px;
}

.farkel-button{
    color: $warn;
    position: absolute;
    left: 10px;

}

.finished-button{
    color: $accent;
    position: absolute;
    left: 10px;
}

.dice-buttons{
    color: $secondary-buttons-color;

    margin-left: 5px;
    margin-right: 5px;

    text-align: center;
}

.dice-button {
    margin: 5px;
    background-color: rgb(178, 233, 173); 
}

.dice-count-button {
    margin: 5px;
}
::ng-deep .mat-flat-button.mat-button-disabled.mat-button-disabled {
    background-color: white;
}
.dice-reset-button {
    margin: 5px;
    color: $primary
}