@import "../../../variables";

.help-info-button-container{
    width: 100%;
    margin-top: 10px;
}

.all-buttons {
    color: $secondary-buttons-color;
    background-color: $primary-background;

    margin-left: 5px;
    margin-right: 5px;
}

mat-icon:hover {
    background-color: $light-grey-button-background;
    border-radius: 5px;
}


.righ-side-buttons {
    float: right;
}
.about-button{
    transform: rotate(180deg)
}
