<div class="roll-action-button-container">

    <div class="actions-buttons">
        <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile>
                <button mat-stroked-button (click)="roll()" class="all-buttons roll-button" [disabled]="disableObject.rollButtonDisabled">roll {{playerRollDieCount }}
                    <mat-icon>refresh</mat-icon>
                </button>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <button mat-stroked-button (click)="finishTurn()" class="all-buttons finished-button" *ngIf="!disableObject.finishTurnDisabled">finish turn
                    <mat-icon>done_all</mat-icon>
                </button>
                <button mat-stroked-button (click)="farkle()" class="all-buttons farkel-button" *ngIf="!disableObject.farkleDisabled">Farkle!
                    <mat-icon>thumb_down_alt</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="dice-icon-buttons">
        <button mat-icon-button (click)="die(rollActionButtonType.ONE)"     class="dice-button"  [disabled]="disableObject.diceButtonDisabled"> 
            <img src="assets/icons/svg/dice_1.svg" />
        </button>
        <button mat-icon-button (click)="die(rollActionButtonType.TWO)"     class="dice-button"  [disabled]="disableObject.diceButtonDisabled"> 
            <img src="assets/icons/svg/dice_2.svg" />
        </button>
        <button mat-icon-button (click)="die(rollActionButtonType.THREE)"   class="dice-button"  [disabled]="disableObject.diceButtonDisabled"> 
            <img src="assets/icons/svg/dice_3.svg" />
        </button>
        <button mat-icon-button (click)="die(rollActionButtonType.FOUR)"    class="dice-button"  [disabled]="disableObject.diceButtonDisabled"> 
            <img src="assets/icons/svg/dice_4.svg" />
        </button>
        <button mat-icon-button (click)="die(rollActionButtonType.FIVE)"    class="dice-button"  [disabled]="disableObject.diceButtonDisabled"> 
            <img src="assets/icons/svg/dice_5.svg" />
        </button>
        <button mat-icon-button (click)="die(rollActionButtonType.SIX)"     class="dice-button"  [disabled]="disableObject.diceButtonDisabled"> 
            <img src="assets/icons/svg/dice_6.svg" />
        </button>
    </div>

</div>
