<mat-grid-list cols="8" rowHeight="50px">

    <!-- Title  -->
    <mat-grid-tile colspan="4" rowspan="1" class="title-tile">
        <app-title [workingTitle]="title"></app-title>
    </mat-grid-tile>

    <!-- Help / Rules / Configuration buttons -->
    <mat-grid-tile colspan="4" rowspan="1"  class="help-info-buttons-tile">
        <app-help-info-buttons class="help-info-buttons"></app-help-info-buttons>
    </mat-grid-tile>

    <!-- Action buttons, for gameplay, setup -->
    <mat-grid-tile colspan="4" rowspan="3" class="action-buttons-tile">
        <span *ngIf="!gameStart">
            <app-pregame-action-buttons (playHasBegun)="beginGame( $event )"></app-pregame-action-buttons>
        </span>
        <span *ngIf="gameStart">
            <app-roll-action-buttons (dieChange)="dieChanged($event)"  class="roll-action-buttons"></app-roll-action-buttons>
        </span>
    </mat-grid-tile>
    
    <!-- Player's scoreboard -->
    <mat-grid-tile colspan="4" rowspan="6" class="players-scoreboard-tile">
        <app-player-scoreboard  class="player-scoreboard"></app-player-scoreboard>
    </mat-grid-tile>
    
    <!-- Roll Scoreboard -->
    <mat-grid-tile colspan="4" rowspan="9" class="roll-scoreboard-tile">
        <app-roll-scoreboard [die]="selectedDice" class="player-statistics"></app-roll-scoreboard>
    </mat-grid-tile>
    
    <!-- Player / Game Statistics  -->
    <mat-grid-tile colspan="4" rowspan="6" class="player-stats-tile">
        <app-player-statistics class="player-statistics"></app-player-statistics>
    </mat-grid-tile>

  </mat-grid-list>