@import "src/variables";

.player-table-container{
    overflow: auto;
    width: 100%;
    max-height:99%;
}

table {
    width: 100%;
}

.row-name {
    font-weight: bold;
}

//    [ 'order', 'place', 'player', 'score'];
.mat-column-roll{
  width: 15% !important;
}
.mat-column-dice{
    width: 45% !important;
}
.mat-column-score{
    width: 15% !important;
}
.mat-column-button{
    width: 25%
}
.active-player {
  background-color: $primary-background-color;
}
.inactive-player{
  background-color: $primary-background;
}


.right-align-data {
  padding-right: 25px;
  text-align: right;
}
.right-align-header {
  text-align: center;
}
.data-farkle {
  color: $warn;
}

.current-turn-row {
  background-color: $primary-background-color;
}
::ng-deep button.die-type {
  border: none; 
  padding: 0;
  margin: 0;
  background: border-box;
  width: 30px;
  height: 30px;
}